.tailed-page{

    min-height:100vh;
    padding:40px;
    background:
            linear-gradient(
                    180deg,
                    #0d0d0d,
                    #151515,
                    #0d0d0d
            );

}

.tailed-grid{

    display:grid;
    grid-template-columns:
        repeat(auto-fit,minmax(340px,1fr));

    gap:34px;
    justify-items:center;
    max-width:1800px;
    margin:auto;

}

.tailed-page::before{

    content:"";
    position:fixed;
    inset:0;
    pointer-events:none;
    opacity:.05;
    background-image:

            radial-gradient(circle,#ffffff 1px,transparent 1px);

    background-size:32px 32px;

}