.clans-page {

    width:100%;
    min-height:100vh;
    background:#0f0f0f;
    padding:30px;

}

.clans-grid {

    display:grid;
    grid-template-columns: repeat(5, 340px);
    justify-content:center;
    gap:30px;
    padding:30px;
}

@media(max-width:1800px){

    .clans-grid{
        grid-template-columns:
        repeat(4,340px);

    }

}

@media(max-width:1450px){

    .clans-grid{

        grid-template-columns:
        repeat(3,340px);

    }

}

@media(max-width:1050px){

    .clans-grid{

        grid-template-columns:
        repeat(2,340px);

    }

}

@media(max-width:700px){

    .clans-grid{

        grid-template-columns:
        repeat(1,340px);

    }

}