.villages-page{

    width:100%;
    min-height:100vh;
    padding:45px;
    background:
            linear-gradient(
                    180deg,
                    #08131f,
                    #10263c,
                    #08131f
            );

}

.villages-grid{

    display:grid;
    grid-template-columns:
        repeat(5,340px);

    justify-content:center;
    gap:30px;

}

@media(max-width:1850px){

    .villages-grid{

        grid-template-columns:
        repeat(4,340px);

    }

}

@media(max-width:1450px){

    .villages-grid{

        grid-template-columns:
        repeat(3,340px);

    }

}

@media(max-width:1080px){

    .villages-grid{

        grid-template-columns:
        repeat(2,340px);

    }

}

@media(max-width:760px){

    .villages-grid{

        grid-template-columns:
        repeat(1,340px);

    }

}